### Image ###
IMAGE               input.fits       # Filename for input image
PSF                 psf.fits         # Filename for psf image
MAGZERO             16.7875          # Magnitude zeropoint for image

### Catalog ###
CATALOG             input.cat        # Filename for catalog of input sources
RE_ARCSEC           True             # Whether or not Re in catalog is in arcseconds (True/False)
PIXSCALE            0.000000e+00     # Pixel scale for catalog in degrees per pixel (if RE_ARCSEC is False)

### Catalog Format ###
MODEL_TYPE          0                # Galaxy model type (either 'sersic' or 'point')
ID                  1                # Unique id
RA                  2                # Right Ascension
DEC                 3                # Declination
MAG                 4                # Magnitude for sersic models
POINT_MAG           4                # Magnitude for point models
RE                  5                # Effective radius (sersic only)
N                   6                # Sersic index (sersic only)
PA                  7                # Position Angle (sersic only)
BA                  8                # Axis Ratio (sersic only)

### Modeling ###
PAD_LENGTH          25               # Padding region (in pixels) around model to allow room for interpolation/convolution
ADD_NOISE           1e-4             # Noise to add to image
ADD_BACKGROUND      0.0000           # Background to add to image
MODEL_SIZE          10               # Image size to generate for sersic models in multiples of sersic re
MIN_SIZE            10               # Minimum model size (square)
MAX_SIZE            50               # Maximum model size (square).  Will always be at least the psf size

### Output ###
SIM_DIR             sims             # Name of working directory for simulated image output
INDIVIDUAL_DIRS     True             # Whether or not to place each simulated image in its own directory (True/False)
CATALOG_OUTPUT      sim.cat          # Filename for output catalog detailing simulated objects
IMAGE_OUTPUT        sim.fits         # Filename for simulated image
REGION_OUTPUT       sim.reg          # Filename for region file showing simulated object positions.
OUTPUT_FORMAT       fits             # Output format for image catalog.  fits or ascii
OUTPUT_MODELS       True             # Whether or not to output fits images for all generated models (True/False)
MODEL_DIR           models           # Directory which models will be outputted to (subdir of SIM_DIR)
CLOBBER             True             # If False a new simulation will not be generated if the output image already exists.

### Catalog Sampling ###
INCLUDE_ERRORS      False            # If True, then errors are added to output catalog parameters
RANDOM_POSITIONS    True             # If True, then ra/dec are ignored and positions are randomized
AS_IS               False            # Use the catalog as is
RANDOM_MAGS         True             # Randomly generate magnitudes but match the input catalog LF
MIX_PARAMETERS      False            # Create new galaxies by randomly selecting from catalog parameter distributions
NUMBER_FRAMES       10               # The number of simulated images to generate (only applies for AS_IS=False)
GALS_PER_FRAME      10               # The number of galaxies per simulated image (only applies for AS_IS=False)
