HRES_CATALOG	tstar.cat
HRES_ROTANGLE	0		#West of North in Degrees
HRES_PIXSCALE	8.3333334575e-6 #Degrees per pixel
LRES_IMAGE	TEST5_ch1.fits
LRES_RMS	TEST5_ch1_rms.fits
LRES_PSF	goods_rotpsf_ch1.fits
LRES_MAGZERO	22.416
DTHETA_ARCSEC	2.0	#ARCSEC
MIN_MAG		20.3
MAX_MAG		20.5
SEXDIR		/astro/depot/sextractor	
DETECT_MINAREA  2.0
DETECT_THRESH   2.0
OUTPUT_FILENAME BEST_FIT_PARAMS_TEST5
NEW_CATALOG_OUTPUT tstar_ch1only.cat
PAD_LENGTH	25.
