### Source Extractor Settings ###
EXTRACTOR_CONFIG	ch1.config		# name of source extractor configuration file
EXTRACTOR_PARAMS	pygfit.param		# name of source extractor parameters file (will be generated automatically)
EXTRACTOR_CATALOG	pygfit_lres.cat		# output catalog name for source extractor
EXTRACTOR_CMD		sex			# location of source extractor executable
EXTRACTOR_COLUMNS	MAG_APER,MAGERR_APER	# additional source extractor fields to copy to final catalog
SKIP_EXTRACTOR		False			# skip running source extractor if it has already been run (True/False)

### High Resolution Catalog ###
HRES_CATALOG		hres.cat		# filename of high resolution catalog
HRES_ROTANGLE		0			# Roll angle for high resolution image, West of North in Degrees
HRES_PIXSCALE		8.3333334575e-6		# Pixel scale for high resolution image, Degrees per pixel

### Column Layout of High Resolution Catalog ###
# Specify column index (zero-indexed) of each data field in the high resolution catalog
MODEL_TYPE		0			# galaxy model type (sersic or point)
ID			1      			# galaxy id
RA			2         		# ra
DEC			3         	 	# dec
MAG			15        		# magnitude
POINT_MAG		4       		# magnitude column for point sources
RE			17       		# re (sersic only)
N			19        		# sersic index (sersic only)
PA			23        		# position angle (sersic only)
BA			21      		# axis ratio (sersic only)

### Low Resolution Image ###
LRES_IMAGE		goods_ch1.fits		# low resolution fits file
LRES_RMS		goods_ch1.rms.fits		# low resolution rms image
LRES_PSF		ch1_psf.fits		# low resolution psf
LRES_MAGZERO		22.416  			# low resolution magnitude zeropoint

### Fitting Settings ###
N_THREADS		1			# maximum number of cpu threads to use (will never use more than the actual number of cpus)
GLOBAL_MAX_SHIFT	2.0			# maximum allowed (global) positional offset between high and low resolution catalog (arcseconds)
MAX_SHIFT		0.2			# maximum allowed positional shift for a high resolution object during fit (arcseconds)
MIN_MAG			10.500			# minimum magnitude of objects to fit
MAX_MAG			24.000			# maximum magnitude of objects to fit
ALIGN_MIN_MAG		17.000			# minimum magnitude of objects to include in alignment
ALIGN_MAX_MAG		23.000			# maximum magnitude of objects to include in alignment
N_ALIGN			25			# maximum number of objects used in alignment calculation
PAD_LENGTH		25			# padding region (in pixels) around model to allow room for interpolation/convolution

### Output Settings ###
SUBTRACT_BACKGROUND	False			# whether or not to subtract the background from the final residuals image
IMAGE_DIR		cutouts/img/		# directory for outputting image cutouts (relative to working directory)
RMS_DIR			cutouts/rms		# directory for outputting rms cutouts
SEGMENTATION_DIR	cutouts/seg		# directory for outputting segemntation cutouts
SEGMENTATION_MASK_DIR	cutouts/mask		# directory for outputting segmentation mask cutouts
MODEL_DIR		models			# diretory for outputting models and residuals
OUTPUT_ALL_MODELS	True			# whether or not to output an extension for individual models in the _fit.fits files
OUTPUT_CATALOG		pygfit.cat		# filename for output catalog
OUTPUT_FORMAT		fits			# 'fits' or 'ascii' - output type for final catalog

### Check Plots ###
CHECK_PLOTS		alignment, alignment_mag, isolated
CHECK_PLOT_FILES	alignment.ps, alignment_mag.ps, isolated.ps
